<ion-header>
  <ion-toolbar>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="createConcertForm" (submit)="createConcert()">
    <ion-item>
      <ion-label stacked>Concert Name</ion-label>
      <ion-input formControlName="concertName" type="text" placeholder="Concert Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cost Input</ion-label>
      <ion-input formControlName="costInput" type="text" placeholder="Cost Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cost Concert</ion-label>
      <ion-input formControlName="costConcert" type="text" placeholder="Cost Concert"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Date</ion-label>
      <ion-input formControlName="date" type="text" placeholder="Date"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disable]="!createConcertForm.valid">Add Concert</ion-button>
  </form>
</ion-content>