<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (concert | async)?.songName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Artist</h3>
  <p>
    Then song {{ (concert | async)?.songName }} was released by {{ (song | async)?.artisName }}.
  </p>
  <h3>Album</h3>
  <p>
    It was part of the {{ (concert | async)?.albumName }} album.
  </p>
  <h3>Description</h3>
  <p>
    {{ (concert | async)?.songDescription }}
  </p>
  <ion-button expand="block" (click)="deleteSong()"> DELETE SONG</ion-button>
</ion-content>