<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (concert | async)?.concertName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Cost Concert</h3>
  <p>
    Then cost of the concert: {{ (concert | async)?.concertName }} it is: ${{ (concert | async)?.costConcert }}.
  </p>
  <h3>Cost Input Concert</h3>
  <p>
    The cost input it is:  ${{ (concert | async)?.costInput }}.
  </p>
  <h3>Date</h3>
  <p>
    {{ (concert | async)?.date }}
  </p>
  <ion-button expand="block" (click)="deleteConcert()"> Delete Concert</ion-button>
</ion-content>