<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons>
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let concert of concertList | async" routerLink="/detail/{{concert.id}}">
    <ion-card-header>
      {{ concert.concertName }}
    </ion-card-header>>
    <ion-card-content>
      Cost Input: {{ concert.costInput }}
    </ion-card-content>>
    <ion-card-content>
      Cost Concert: {{ concert.costConcert }}
    </ion-card-content>>
    <ion-card-content>
      Date Concert: {{ concert.date }}
    </ion-card-content>>
  </ion-card>
</ion-content>